body{}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.flex-items{
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: flex-start;
}