<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
  <form action="/user/access" method="post">
    <fieldset>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="<%= locals.errors && !errors.email ? old.email : null %> ">
      <% if (locals.errors && errors.email) { %>
      <p class="feedback">
        <%= errors.email.msg %> 
      </p>
      <% } %>
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="">
      <% if (locals.errors && errors.password) { %>
        <p class="feedback">
          <%= errors.password.msg %> 
        </p>
      <% } %>
    </fieldset>
    <fieldset>
      <label for="remember">Remember</label>
      <input type="checkbox" name="remember" id="remember">
    </fieldset>
    <fieldset>
      <button type="submit">
        <i class="fas fa-paper-plane"></i>
      </button>
    </fieldset>
  </form>
  <nav>
    <a href="/">volver <i class="fas fa-home"></i></a>
    <a href="/user/register">join <i class="fas fa-plus"></i></a>
  </nav>
</body>
</html>